.domo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24353fe2;

}
.sm{
    background-color: #24353F;
    
    width: 80%;
    height: 60%;
padding: 10px;
box-shadow: 5px 2px 40px 9px #24353F;
/* transform: translate(0%); */
}
.sm h1{
    color: aqua;

}
.caption a{
    text-decoration: none;
    color: #fff;
transition: all 1s;
}
.cap{
    color: #fff;
}
.caption a:hover{
    text-decoration: underline;
}
.NOO1{
    font-size: medium;
    margin: 20PX 0;
    color: red;
}